{% extends 'base.html.twig' %}

{% block menu %}
    {# {% include 'hospital/menu.html.twig' %} #}
    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
    {{ render(controller('App\\Controller\\HospitalController::menuLogeado')) }}
    {% else %}
        {{ render(controller('App\\Controller\\HospitalController::menu')) }}
    {% endif %}
{% endblock %}

{% block contenido %}
<table class="table ">
    <thead class="">
    <tr>
      <th colspan="2">
        <h2>Bolsa:</h2>
      </th>
    </tr>
    
  </thead>
    {# {{form(form)}} #}
    
    {{ form_start(form) }}

        {% for item in form %}
        
        <tr>
        {%if 'dni' in item.vars.id   %}
            <td>{{ form_label(item) }}</td>
            <td>{{ form_widget(item) }} </td>
        {% endif %}
        </tr>
        <tr>
        {%if 'nombre' in item.vars.id   %}
            <td>{{ form_label(item) }}</td>
            <td>{{ form_widget(item) }} </td>
        {% endif %}
        </tr>
        <tr>
        {%if 'direccion' in item.vars.id   %}
            <td>{{ form_label(item) }}</td>
            <td>{{ form_widget(item) }} </td>
        {% endif %}
        </tr>
        <tr>
        {%if 'telefono' in item.vars.id   %}
            <td>{{ form_label(item) }}</td>
            <td>{{ form_widget(item) }} </td>
        {% endif %}
        </tr>
        <tr>
        {%if 'email' in item.vars.id   %}
            <td>{{ form_label(item) }}</td>
            <td>{{ form_widget(item) }} </td>
        {% endif %}
        </tr>
        <tr>
        {%if 'puesto' in item.vars.id   %}
            <td>{{ form_label(item) }}</td>
            <td>{{ form_widget(item) }} </td>
        {% endif %}
        </tr>
        <tr>
        {%if 'send' in item.vars.id   %}
            
            <td>{{ form_widget(item) }} </td>
        {% endif %}
        </tr>
        {% endfor %}
</table>
    {{ form_end(form )}}
    
{% endblock %}



{% block right %}
    {% include 'hospital/derecha.html.twig'%}
{% endblock %}

{% block footer %}
    {{ render(controller('App\\Controller\\HospitalController::footer')) }}
{% endblock %}